<launch>
	<param name="use_sim_time" value="true"/>
	<node pkg="vrep_util" type="clock_publisher" name="clock" output="screen"/>

	<node pkg="odom" type="robot_odometry" name="robot_odometry" output="screen" >
        <param name="print_wheels_expected_speeds" type="bool" value="false"/>
        <param name="print_wheels_real_speeds" type="bool" value="false"/>
        <param name="print_robot_real_speeds" type="bool" value="true"/>
    </node>

	<node pkg="laser" type="landmark_detector" name="landmark_detector" output="screen" >
        <param name="print_laser_info" type="bool" value="true"/>
    </node>

</launch>

